<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="script.js"></script>
</head>

<body>
    <h1> {{title }} ☁️</h1>
    <p>This is dynamic file from hbs</p>
    <p>Created By {{name}}</p>
    <div class="card">
        <img src="img/andrew-pons-oH9AuO20kbk-unsplash.jpg" alt="Doggo" class="img-style" />
        <h5>User 1</h5>
    </div>
</body>

</html>